<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .submit{
            width: 50%;
            height: 3rem;
            border-radius: 10px;
        }
        .input_bar{
            margin-bottom: 2rem;
            display: flex;
            width: 80%;
        }
        input{
            width: 40%;
            height: 3rem;
        }
        label{
            width: 30%;
            text-align: right;
        }
    </style>
</head>
<body>
    <form action="/details" method="post">
        <div class="input_bar">
            <label for="id" >ID</label>
            <input type="text" name="id">
        </div>

        <div class="input_bar">
            <label for="ward" >ward</label>
            <input type="text" name="ward">
        </div>
        
        <div class="input_bar">
            <label for="project" >work</label>
            <input type="text" name="project">
        </div>
        
        <div class="input_bar">
            <label for="sbd" >SDB Preperation</label>
            <input type="text" name="sbd"> 
        </div>
        
        

        <div class="input_bar">
            <label for="tenderpublished" >Tender Published</label>
            <input type="text" name="tenderpublished">
        </div>
        

        
        <div class="input_bar">
            <label for="tenderopen" >Tender Opened</label>
            <input type="text" name="tenderopen">
        </div>
        

        <div class="input_bar">
            <label for="posttender" >Post Tender DOC</label>
            <input type="text" name="posttender">   
        </div>
        

        <div class="input_bar">
            <label for="tenderapproval" >Tender Negotiation</label>
            <input type="text" name="tenderapproval">   
        </div>
        

        <div class="input_bar">
            <label for="loa" >LOA Approval</label>
            <input type="text" name="loa">   
        </div>
        

        <div class="input_bar">
            <label for="agreementapproved" >Agreement Approved</label>
            <input type="text" name="agreementapproved">    
        </div>
        

        <div class="input_bar">
            <label for="emdrelease" >EMD Release</label>
            <input type="text" name="emdrelease">    
        </div>
        

        <div class="input_bar">
            <label for="sitehandover" >Site Handover</label>
            <input type="text" name="sitehandover">
        </div>

        <div class="input_bar">
            <label for="sitehandover" >Bidder</label>
            <input type="text" name="bidder">
        </div>
        

        <input class="submit" type="submit" value="submit">
    </form>
</body>
</html>