<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIMATION</title>
    <style>
        *{
            margin: 0;
            box-sizing: border-box;
        }
        .main{
            background-color: black;
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .bar1,.bar2,.bar3,.bar4{
            height: 5rem;
            width: 1rem;
            background-color: rgb(241, 242, 217);
            margin-left: 1rem;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
    </div>
    
</body>
</html>